:root {
  --blue: #7fa8a0;
  --red: #c97e63;
  --green: #8e8c6f;
  --white: #f3e8d2;
  --brown: #b6a188;
  
}
body {
margin: 0%;
/* background-color: var(--white); */
background-color:#f3e8d2 ;

}
p {
  font-family: "Agrandir";
}
h1 {
      font-family: "Libre Baskerville", serif;

}
h2 {
      font-family: "Libre Baskerville", serif;

}
.hero-img {
 background-image: url(Assets/pexels-tonderue-34743985\ 16.jpg);
background-size: contain; 
background-repeat: no-repeat;
 /* display: flex;
 justify-content: center;
 align-items: center; */
 padding-top: 50%;
 padding-bottom: 15%;
border-radius: 0px 0px 30px 30px; 
}
.hero-img img {
     display: flex;
 justify-content: center;
 align-items: center;
 margin-top: -30%;
 margin-left: 25%;
}
.landing p {
      font-size: 24px;
      color: var(--green);
}
.landing {

    margin: 1%;
    display: flex;
    align-items: center;
    padding: 10%;
    gap: 15%;
    justify-content: space-between;
    flex-direction: column;
}
.landing a {
    text-decoration: none;
    font-size: 2rem;
border-radius: 50px;
text-align: center;
color: var(--white);
background-color:var(--red);
width: 25%;
padding: 5%;
display: flex;
align-items: center;
justify-content: center;
}
.nav-shop {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    color: var(--green);
}
.shop {
    display: grid;
    grid-template-columns:1fr 1fr ;
    place-items: center;
    align-items: center;

}
.card {
        /* margin: 15px; */
        color: var(--green);

}

.tekst-card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}
.tekst-navbar {
  line-height: 0.1;
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
}
.hidden {
    visibility: hidden;
}
.navbar-product {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    color: var(--green);
}
.main-product {
    display: flex;
    color: var(--green);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-product p {
      font-size: 1.1rem;
     margin: 20%;
}
.main-product img {
  width: 65%;
    height: 50%;

}
.main-product a {

     text-decoration: none;
    font-size: 2rem;
border-radius: 50px;
color: var(--white);
background-color:var(--red);
width:  35%;
padding: 5%;display: flex;
align-items: center;
justify-content: center;

}